@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: 'Google Sans Flex', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}